:root, html, body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	text-size-adjust: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	margin: 1em;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, #app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
	:root, html, body {
		background-color: #333;
		color: #ccc;
	}
}